@import 'imports/global';

aui-message {
    display: block;
    margin: @aui-message-stacked-spacing 0 0 0;
}

.aui-message {
    background: @aui-color-white;
    border: 1px solid @aui-message-default-border-color;
    border-radius: @aui-message-border-radius;
    color: @aui-message-text-color;
    margin: @aui-message-stacked-spacing 0 0 0;
    overflow-wrap: break-word;
    position: relative;
    word-wrap: break-word;
}
aui-message:first-child,
.aui-message:first-child {
    margin-top: 0;
}
.aui-popup .aui-message.closeable,
.aui-dialog .aui-message.closeable {
    z-index: 4000;
}

/* DEPRECATED .error, .warning, .hint, .info, .success */
.aui-message.error,
.aui-message-error {
    background: @aui-message-error-bg-color;
    border-color: @aui-message-error-border-color;
    color: @aui-message-error-text-color;
}
.aui-message.warning,
.aui-message-warning {
    background: @aui-message-warning-bg-color;    /* 5% of palette yellow #ffd351 */
    border-color: @aui-message-warning-border-color;  /* 50% of palette yellow #ffd351 */
}
.aui-message.hint,
.aui-message-hint,
.aui-message.info,
.aui-message-info {
    background: @aui-message-info-bg-color;    /* 5% of palette blue lozenge #4a6785 */
    border-color: @aui-message-info-border-color;  /* 50% of palette blue lozenge #4a6785 */
}
.aui-message.success,
.aui-message-success {
    background: @aui-message-success-bg-color;    /* 5% of palette green #14892c */
    border-color: @aui-message-success-border-color;  /* 50% of palette green #14892c */
}

/* Message titles */

.aui-message p.title {
    font-weight: bold;
}

/* IE double bolds otherwise... */
.aui-message p.title strong {
    font-weight: inherit;
}

.aui-message.closeable {
    .icon-close {
        cursor: pointer;
        left: auto;
        opacity: 0;
        position: absolute;
        right: @aui-message-close-icon-padding;
        top: @aui-message-close-icon-padding;
    }

    &:hover .icon-close,
    .icon-close:focus,
    &:not(.fadeout):not(.aui-will-close) .icon-close {
        opacity: 1;
    }
}

/* End aui-icon position */

/* Footer interop (provisional, just enough to stop them looking broken) */
#footer .aui-message {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
