@import '../theme/colors';
@import '../theme/text';

@aui-lozenge-bg-color: @aui-color-ash-gray;
@aui-lozenge-border-color: @aui-color-ash-gray;
@aui-lozenge-text-color: @aui-text-color;
@aui-lozenge-subtle-bg-color: @aui-color-white;
@aui-lozenge-subtle-border-color: @aui-color-ash-gray;
@aui-lozenge-subtle-text-color: @aui-lozenge-text-color;

@aui-lozenge-success-bg-color: @aui-color-green;
@aui-lozenge-success-border-color: @aui-color-green;
@aui-lozenge-success-subtle-text-color: @aui-color-green;
@aui-lozenge-success-subtle-border-color: #60b070;
// @aui-lozenge-success-subtle-border-color: darken(@aui-color-green-2, 12%); // LESS131

@aui-lozenge-current-bg-color: @aui-color-yellow;
@aui-lozenge-current-border-color: @aui-color-yellow;
@aui-lozenge-current-text-color: @aui-color-dark-brown;
@aui-lozenge-current-subtle-text-color: @aui-color-dark-brown;
@aui-lozenge-current-subtle-border-color: #ffe9a8;
// @aui-lozenge-current-subtle-border-color: tint(@aui-color-yellow, 50%); // LESS131

@aui-lozenge-moved-bg-color: @aui-color-brown;
@aui-lozenge-moved-border-color: @aui-color-brown;
@aui-lozenge-moved-subtle-text-color: @aui-color-brown;
@aui-lozenge-moved-subtle-border-color: #c0ad9d;
// @aui-lozenge-moved-subtle-border-color: tint(@aui-color-brown, 50%); // LESS131

@aui-lozenge-error-bg-color: @aui-color-red;
@aui-lozenge-error-border-color: @aui-color-red;
@aui-lozenge-error-subtle-text-color: @aui-color-red;
@aui-lozenge-error-subtle-border-color: #e8a29b;
// @aui-lozenge-error-subtle-border-color: tint(@aui-color-red, 50%); // LESS131

@aui-lozenge-complete-bg-color: @aui-color-slate;
@aui-lozenge-complete-border-color: @aui-color-slate;
@aui-lozenge-complete-subtle-text-color: @aui-color-slate;
@aui-lozenge-complete-subtle-border-color: #a5b3c2;
// @aui-lozenge-complete-subtle-border-color: tint(@aui-color-blue-gray, 50%); // LESS131