@import '../theme/colors';
@import '../theme/text';
@import '../theme/links';

@aui-message-border-radius: 3px;
@aui-message-icon-size: 16px;
@aui-message-border-width: 1px;
@aui-message-side-width: 40px;
@aui-message-padding-right: 40px;
@aui-message-padding-left: 20px;
@aui-message-vertical-padding: 20px;
@aui-message-line-height: 20px;

@aui-message-default-bg-color: @aui-color-white;
@aui-message-default-border-color: @aui-color-bright-blue-1;
@aui-message-text-color: @aui-text-color;
@aui-message-link-color: @aui-link-color;
@aui-message-border-radius: 3px;
@aui-message-stacked-spacing: 20px;
@aui-message-close-icon-padding: 20px;


@aui-message-success-bg-color: @aui-color-white;
@aui-message-success-border-color: @aui-color-lime-green;
// @aui-message-success-border-color: tint(@aui-color-green, 50%); // LESS131

@aui-message-warning-bg-color: @aui-color-white;
@aui-message-warning-border-color: @aui-color-yellow;
// @aui-message-warning-border-color: tint(@aui-color-yellow, 50%); // LESS131


@aui-message-error-bg-color: @aui-color-white;
@aui-message-error-border-color: @aui-color-red;
@aui-message-error-text-color: @aui-message-text-color;

@aui-message-info-bg-color: @aui-color-white;
@aui-message-info-border-color: @aui-color-bright-blue-1;
// @aui-message-info-border-color: tint(@aui-color-blue-gray, 50%); // LESS131